

.listaEstudios {
    list-style-type: none;
  }
  .nada {
    list-style-type: none;
  }
  .container-estudios {
    justify-content: center;
    text-align:center;
  }
  li > p{
   
   
   /* background-color: rgb(10, 62, 118); */
   color: rgb(17, 138, 245);
  }
  .accordion-body{
    
    background-color: rgba(212, 210, 210, 0.998);
  }
  /* .container-estudios{
    background-color: black;
    color: white;
  } */